body {
    background: url(../media/header-section2.jpg) no-repeat fixed;
    margin: 0 auto;
    color: blue;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

header img {
    height: 200px;
}

section#about {
    background: gray;
    justify-content: center;
    display: flex;
    align-items: center;
}

section#about div {
    display: flex;
    height: 150px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.opening {
    background: url(/media/bar.jpg);
}

.raffinee {
    background: url(/media/bar1.jpg);
}

.cocktail {
    background: url(/media/bar2.jpg);
}