body {
    background: url(../media/header-section2.jpg) no-repeat fixed;
    background-size: cover;
    margin: 0 auto;
    color: blue;
}

.section_container {
    margin: 10px 20% 10px 20%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

header img {
    height: 200px;
}

section#about {
    background: gray;
    justify-content: center;
    display: flex;
    align-items: center;
}

section#about div {
    display: flex;
    height: 150px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

section#about div h3 {
    font-size: 25px;
    text-transform: uppercase;
}

/* classe pour la catégorie about */

.opening {
    background: url(/media/bar.jpg);
}

.raffinee {
    background: url(/media/bar1.jpg);
}

.cocktail {
    background: url(/media/bar2.jpg);
}

/* cocktails */
section#cocktails img {
    height: 120px;
}

section#cocktails {
    padding: 20px 20% 20px 20%;
    background: url(/media/cocktail-section.jpg);
}

.sunmoon-banner {
    background: url(/media/sunmoon-banner.jpg);
    width: auto;
}

.mentalux-banner {
    background: url(/media/mentalux-banner.jpg);
}

.kiwiwhip-banner {
    background: url(/media/kiwiwhip-banner.jpg);
}

.citrinus-banner {
    background: url(/media/citrinus-banner.jpg);
}

.spicherry-banner {
    background: url(/media/spicherry-banner.jpg);
}

.first-row {
    display: flex;
}

.col-3 {
    flex: 0.33;
}

.col-2 {
    flex: 0.5;
}

.cocktail-item {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

    margin: 10px;
    height: 300px;
}

.cocktail-item img {
    height: 120px;
}

.second-row {
    display: flex;
}